services:
  nginx:
    container_name: ${PROJECT_NAME}-nginx
    env_file: ".env"
    build:
      context: .
      dockerfile: nginx/Dockerfile
    user: nginx
    depends_on:
      - php
    ports:
      - "{{ api_listen_port }}:{{ api_listen_port }}"
    restart: unless-stopped
    volumes:
      - ./nginx/api.conf.template:/etc/nginx/templates/api.conf.template
      - ./storage/:/var/www/storage/
    networks:
      - api

  php:
    container_name: ${PROJECT_NAME}-php
    env_file: ".env"
    build:
      context: .
      dockerfile: php/Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
        USER: ${USER}
        PHP_VERSION: ${PHP_VERSION}
    user: www-data
    environment:
      DB_USERNAME_FILE: /run/secrets/db_user
      DB_PASSWORD_FILE: /run/secrets/db_password
      DAV_DB_USERNAME_FILE: /run/secrets/dav_db_user
      DAV_DB_PASSWORD_FILE: /run/secrets/dav_db_password
      APP_KEY_FILE: /run/secrets/app_key
      SOLYTO_BOT_WEBHOOK_TOKEN_FILE: /run/secrets/solyto_bot_webhook_token
      SOLYTO_BOT_TELEGRAM_TOKEN_FILE: /run/secrets/solyto_bot_telegram_token
      HARDCOVER_API_KEY_FILE: /run/secrets/hardcover_api_key
      AI_API_KEY_FILE: /run/secrets/ai_api_key
      VAPID_PUBLIC_KEY_FILE: /run/secrets/vapid_public_key
      VAPID_PRIVATE_KEY_FILE: /run/secrets/vapid_private_key
      MAILGUN_SECRET_FILE: /run/secrets/mailgun_secret
      BGG_API_KEY_FILE: /run/secrets/bgg_api_key
      TMDB_ACCESS_TOKEN_FILE: /run/secrets/tmdb_access_token
      DISCOGS_ACCESS_TOKEN_FILE: /run/secrets/discogs_access_token
      IMGPROXY_KEY_FILE: /run/secrets/imgproxy_key
      IMGPROXY_SALT_FILE: /run/secrets/imgproxy_salt
      TZ: UTC
    volumes:
      - ./storage/:/var/www/storage/
      - ./php/app.php.ini:/usr/local/etc/php/conf.d/solyto-php.ini:ro
    secrets:
      - db_user
      - db_password
      - dav_db_user
      - dav_db_password
      - app_key
      - solyto_bot_webhook_token
      - solyto_bot_telegram_token
      - hardcover_api_key
      - ai_api_key
      - mailgun_secret
      - vapid_private_key
      - vapid_public_key
      - bgg_api_key
      - tmdb_access_token
      - discogs_access_token
      - imgproxy_key
      - imgproxy_salt
    restart: unless-stopped
    networks:
      - api
      - db

  dav:
    container_name: ${PROJECT_NAME}-dav
    env_file: ".env"
    build:
      context: .
      dockerfile: php/Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
        USER: ${USER}
        PHP_VERSION: ${PHP_VERSION}
    user: www-data
    environment:
      DB_USERNAME_FILE: /run/secrets/db_user
      DB_PASSWORD_FILE: /run/secrets/db_password
      DAV_DB_USERNAME_FILE: /run/secrets/dav_db_user
      DAV_DB_PASSWORD_FILE: /run/secrets/dav_db_password
      APP_KEY_FILE: /run/secrets/app_key
      TZ: UTC
    volumes:
      - ./storage/:/var/www/storage/
      - ./php/dav.php.ini:/usr/local/etc/php/conf.d/solyto-php.ini:ro
    secrets:
      - db_user
      - db_password
      - dav_db_user
      - dav_db_password
      - app_key
    restart: unless-stopped
    networks:
      - api
      - db

  queue:
    container_name: ${PROJECT_NAME}-queue
    env_file: ".env"
    build:
      context: .
      dockerfile: php/Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
        USER: ${USER}
        PHP_VERSION: ${PHP_VERSION}
    user: www-data
    command: php artisan queue:work --tries=3 --timeout=300
    environment:
      DB_USERNAME_FILE: /run/secrets/db_user
      DB_PASSWORD_FILE: /run/secrets/db_password
      DAV_DB_USERNAME_FILE: /run/secrets/dav_db_user
      DAV_DB_PASSWORD_FILE: /run/secrets/dav_db_password
      APP_KEY_FILE: /run/secrets/app_key
      SOLYTO_BOT_WEBHOOK_TOKEN_FILE: /run/secrets/solyto_bot_webhook_token
      SOLYTO_BOT_TELEGRAM_TOKEN_FILE: /run/secrets/solyto_bot_telegram_token
      HARDCOVER_API_KEY_FILE: /run/secrets/hardcover_api_key
      TMDB_ACCESS_TOKEN_FILE: /run/secrets/tmdb_access_token
      VAPID_PRIVATE_KEY_FILE: /run/secrets/vapid_private_key
      MAILGUN_SECRET_FILE: /run/secrets/mailgun_secret
      IMGPROXY_KEY_FILE: /run/secrets/imgproxy_key
      IMGPROXY_SALT_FILE: /run/secrets/imgproxy_salt
      TZ: UTC
    volumes:
      - ./storage/:/var/www/storage/
      - ./php/queue.php.ini:/usr/local/etc/php/conf.d/solyto-php.ini:ro
    secrets:
      - db_user
      - db_password
      - dav_db_user
      - dav_db_password
      - app_key
      - solyto_bot_webhook_token
      - solyto_bot_telegram_token
      - hardcover_api_key
      - tmdb_access_token
      - mailgun_secret
      - vapid_private_key
      - imgproxy_key
      - imgproxy_salt
    restart: unless-stopped
    networks:
      - api
      - db

  imgproxy:
    container_name: ${PROJECT_NAME}-imgproxy
    image: darthsim/imgproxy:latest
    environment:
      IMGPROXY_LOCAL_FILESYSTEM_ROOT: /images
      IMGPROXY_KEY_FILE: /run/secrets/imgproxy_key
      IMGPROXY_SALT_FILE: /run/secrets/imgproxy_salt
    volumes:
      - ./storage/:/images:ro
    secrets:
      - imgproxy_key
      - imgproxy_salt
    restart: unless-stopped
    networks:
      - api

networks:
  api:
    external: true

  db:
    external: true


secrets:
  db_user:
    file: ./secrets/db_user
  db_password:
    file: ./secrets/db_password
  dav_db_user:
    file: ./secrets/dav_db_user
  dav_db_password:
    file: ./secrets/dav_db_password
  app_key:
    file: ./secrets/app_key
  solyto_bot_webhook_token:
    file: ./secrets/solyto_bot_webhook_token
  solyto_bot_telegram_token:
    file: ./secrets/solyto_bot_telegram_token
  hardcover_api_key:
    file: ./secrets/hardcover_api_key
  ai_api_key:
    file: ./secrets/ai_api_key
  mailgun_secret:
    file: ./secrets/mailgun_secret
  vapid_public_key:
    file: ./secrets/vapid_public_key
  vapid_private_key:
    file: ./secrets/vapid_private_key
  bgg_api_key:
    file: ./secrets/bgg_api_key
  tmdb_access_token:
    file: ./secrets/tmdb_access_token
  discogs_access_token:
    file: ./secrets/discogs_access_token
  imgproxy_key:
    file: ./secrets/imgproxy_key
  imgproxy_salt:
    file: ./secrets/imgproxy_salt
